@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Orbitron:wght@600&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-bp-white: #f9f5d7;
    --color-bp-black: #282828;

    --color-bp-red: #cc241d;
    --color-bp-green: #b8bb26;
    --color-bp-blue: #076678;
    --color-bp-yellow: #fabd2f;
    --color-bp-purple: #8f3f71;
    --color-bp-orange: #fe8019;

    --color-bp-gray0: #fffdee;
    --color-bp-gray50: #d5c4a1;
    --color-bp-gray100: #bdae93;
    --color-bp-gray200: #a89984;
    --color-bp-gray300: #928374;
    --color-bp-gray400: #7c6f64;
    --color-bp-gray500: #665c54;
    --color-bp-gray600: #504945;
    --color-bp-gray700: #3c3836;
    --color-bp-gray800: #282828;
    --color-bp-gray900: #1d2021;

    --font-title: 'Orbitron', 'sans-serif';
    --font-body: 'Chakra Petch', 'sans-serif';

    --spacing-128: 32rem;
    --spacing-144: 36rem;
}

@layer components {
    .theme-icon-active {
        @apply opacity-100 scale-110;
    }

    .theme-icon-inactive {
        @apply opacity-60;
    }

    .material-symbols-outlined {
        @apply align-middle;
        font-size: inherit !important;
    }
}